---
layout: default
---

<h1>{{page.title}}</h1>

{% include ipres_table.html %}

{% if page.logo %}<img src="{{ page.logo }}" style="max-height: 120px; max-width: 50%; float: right; padding: 2px;">{% endif %}

{{ content }}

<div style="clear: both; padding-top: 1em;">
    <a target="_blank" href="https://digipres-org-publications.netlify.app/admin/#/collections/ipres-conferences/entries/{{ page.dir | remove_first: '/ipres/' }}index" class="btn btn-purple">Edit via CMS (requires GitHub login)</a>
    <a target="_blank" href="https://github.com/digipres/publications/blob/main/{{ page.path }}" class="btn btn">View/Edit directly on GitHub</a>
</div>