---
layout: default
parent: iPRES
title: {{page.name}}
---

<h1>{{page.title}}</h1>

<table>
    <tr><td>Date</td><td>{{page.date}}</td></tr>
    <tr><td>Location</td><td>{{page.location}}</td></tr>
    <tr><td>Website</td><td><a href="{{page.website}}">{{page.website}}</a></td></tr>
    <tr><td>Website Status</td><td>{{page.website_status}}</td></tr>
    <tr><td>Website Mirror (iPRES)</td><td><a href="{{page.website_mirror_ipres}}">{{page.website_mirror_ipres}}</a></td></tr>
    <tr><td>Proceedings As A Single Document</td><td><a href="{{page.proceedings_full}}">{{page.proceedings_full}}</a></td></tr>
    <tr><td>Proceedings (phaidra)</td><td><a href="{{page.proceedings_phaidra}}">{{page.proceedings_phaidra}}</a></td></tr>
    <tr><td>Proceedings (OSF)</td><td><a href="{{page.proceedings_osf}}">{{page.proceedings_osf}}</a></td></tr>
    <tr><td>Proceedings (IDEALS)</td><td><a href="{{page.proceedings_ideals}}">{{page.proceedings_ideals}}</a></td></tr>
</table>
