---
layout: default
---

<h1>{{page.title}}</h1>

<h2>Abstract</h2>

{{ page.abstract }}

<h2>Details</h2>

<dl>
    <dt>Creators</dt>
    <dd>{{ page.creators | join: "; " }}</dd>
    <dt>Institutions</dt>
    <dd>{{ page.institutions | join: "; " }}</dd>
    <dt>Date</dt>
    <dd>{{ page.date }}</dd>
    <dt>Keywords</dt>
    <dd>{{ page.keywords | join: "; " }}</dd>
    <dt>Publication Type</dt>
    <dd>{{ page.publication_type }}</dd>
    <dt>License</dt>
    <dd>{{ page.license }}</dd>
    <dt>Direct Download</dt>
    <dd><a href="{{ page.document_url }}">{{ page.size}} bytes</a></dd>
    {% if page.slides_url %}
    <dt>Slides</dt>
    <dd><a href="{{ page.slides_url }}">here</a></dd>
    {% endif %}
    {% if page.notes_url %}
    <dt>Notes</dt>
    <dd><a href="{{ page.notes_url }}">here</a></dd>
    {% endif %}
</dl>

<p class="d-flex flex-justify-end">
  <a href="{% if page.landing_page_url %}{{ page.landing_page_url }}{% else %}{{ page.document_url }}{% endif %}" class="btn btn-blue m-2">View This Publication</a>
</p>
  